In [1]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [2]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [3]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
A.union(B, C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [5]:
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Intersection

In [6]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [7]:
A & B

{4, 5}

In [8]:
A.intersection(B) Intersection of A and B

SyntaxError: invalid syntax (3871018507.py, line 1)

In [9]:
A.intersection_update(B)
A

{4, 5}

# Difference

In [10]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [11]:
A - B

{1, 2, 3}

In [12]:
A.difference(B)

{1, 2, 3}

In [13]:
B - A

{6, 7, 8}

In [14]:
B.difference(A)

{6, 7, 8}

In [15]:
B.difference_update(A)
B

{6, 7, 8}

# Symmetric Difference

In [16]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [17]:
A ^ B

{1, 2, 3, 6, 7, 8}

In [18]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [19]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

# Subset , Superset & Disjoint

In [20]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [21]:
B.issubset(A)

True

In [23]:
A.issuperset(B)

True

In [24]:
C.isdisjoint(A)

True

In [25]:
B.isdisjoint(A)

False

# Other Builtin functions

In [26]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [27]:
sum(A)

45

In [28]:
max(A)

9

In [29]:
min(A)

1

In [30]:
len(A)

9

In [31]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [32]:
D= sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [33]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# DICT

In [34]:
mydict = dict() # empty dictionary
mydict

{}

In [35]:
mydict = {} # empty dictionary
mydict

{}

In [36]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [37]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [38]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [39]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [40]:
mydict.keys()

dict_keys([1, 'A', 3])

In [41]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [42]:
mydict.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [43]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [47]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}, 'B':('Bat' , 'cat' , 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [48]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'c': None, 'a': None, 'd': None, 'b': None}

In [49]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'c': 10, 'a': 10, 'd': 10, 'b': 10}

In [50]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'c': [10, 20, 30], 'a': [10, 20, 30], 'd': [10, 20, 30], 'b': [10, 20, 30]}

In [51]:
value.append(40)
mydict3

{'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

# Accessing Items

In [52]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [53]:
mydict[1]

'one'

In [54]:
mydict.get(1)

'one'

In [55]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [56]:
mydict1['Name'] # Access item using key

'Asif'

In [57]:
mydict1.get('job')

'Analyst'

# Add, Remove & Change Items

In [58]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [59]:
mydict1['DOB'] = 1992 # Changing Dictionary Items
mydict1['Address'] = 'Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [60]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1992,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [61]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [62]:
mydict1.popitem()

('Address', 'Delhi')

In [63]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992}

In [64]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Asif', 'DOB': 1992}

In [65]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [66]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

# Copy Dictionary

In [67]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [68]:
mydict1 = mydict

In [69]:
id(mydict) , id(mydict1)

(2270075744064, 2270075744064)

In [70]:
mydict2 = mydict.copy()

In [71]:
id(mydict2)

2270075741888

In [72]:
mydict['Address'] = 'Mumbai'

In [73]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [74]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [75]:
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

# Loop through a Dictionary

In [77]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' , 'Job':'Analyst'}
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [79]:
for i in mydict1:
    print(i , ':' , mydict1[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [80]:
for i in mydict1:
    print(mydict1[i])

Asif
12345
1991
Hilsinki
Analyst

# Dictionary Membership

In [81]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [82]:
'Name' in mydict1

True

In [83]:
'Asif' in mydict1

False

In [84]:
'ID' in mydict1

True

In [85]:
'Adress' in mydict1

False

In [86]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [87]:
all(mydict1)

True