In [1]:
def greet():
    print('hello')
    print('good morning')

In [2]:
def greet():
    print('hello')
    print('good morning')
greet()

hello
good morning

In [4]:
def greet():
    print('hello')
    print('good morning')
greet()

def greet():
    print('hello')
    print('good morning')
greet()

def greet():
    print('hello')
    print('good morning')
greet()

hello
good morning
hello
good morning
hello
good morning

In [8]:
def greet():
    print('hello')
    print('good morning')
greet()
print()
greet()
print()
greet()

hello
good morning

hello
good morning

hello
good morning

In [9]:
def add(x,y):
    c=x+y
    print(c)  
add(5,6)

11

In [11]:
def add(x,y):
    c=x+y
    print(c)  
add(5,6)

11

In [12]:
def add(x,y,z):
    c=x+y+z
    print(c)  
add(1,4,5)

10

In [13]:
def greet():
    print('hello')
    print('good morning')
greet()

def add(x,y,z):
    c=x+y+z
    print(c)  
add(1,4,5)

hello
good morning
10

In [14]:
def greet():
    print('hello')
    print('good morning')
    
def add(x,y,z):
    c=x+y+z
    print(c)  

greet()
add(1,4,5)

hello
good morning
10

In [15]:
def greet():
    print('hello')
    print('good noon')
    
def add(x,y):
    c=x+y
    print(c)

def sub(x,y,z):
    d = x-y-z
    print(d)
    
greet()    
add(5,4)
sub(10,2,4)
# you can create mutliple function and call them as many time as you want

hello
good noon
9
4

In [17]:
def add(x,y):
    c=x+y
    return c

add(50,4)

54

In [22]:
def add(x,y):
    c=x+y
    d=x-y
    return c
    return d

sub(50,4)
add(50,4)

TypeError: sub() missing 1 required positional argument: 'z'

In [25]:
def add(x,y):
    c=x+y
    return c
    
def sub(x,y):
    d=x-y
    return d

su = sub(50,4)
ad = add(50,4)

print(su)
print(ad)

46
54

In [26]:
def add_sub(x,y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    return c, d 
    
result add_sub(50,4)

(54, 46)

In [29]:
def add_sub(x,y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    return c, d 
    
result1, result2 = add_sub(50,4)
print(result1)
print(result2)

54
46

In [30]:
def add_sub_mul(x,y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    e= x*y
    return c, d, e
    
result1, result2,result3 = add_sub_mul(50,4)

print(result1)
print(result2)
print(result3)

54
46
200

In [20]:
def add(x,y):
    c=x+y
    return c

score = add(50,4)
print(score)

54

In [31]:
def add(a,b): 
    c = a+b
    print(c)
    
add(5,6)

11

In [35]:
def person(name,age):
    print(name)
    print(age)
    
person('nit',22)

nit
22

In [38]:
def person(name,age):
    print(name)
    print(age)
    
person(22,'nit')

22
nit

In [39]:
def person(name,age):
    print(name)
    print(age-5)
    
person(22,'nit')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [43]:
def person(name,age):
    print(name)
    print(age-5)
    
person(age = 22, name = 'nit')

nit
17

In [44]:
def person(name,age):
    print(name)
    print(age)
    
person('nit')

TypeError: person() missing 1 required positional argument: 'age'

In [45]:
def person(name,age=18):
    print(name)
    print(age)
    
person('nit')

nit
18

In [46]:
def person(name,age=18):
    print(name)
    print(age)
    
person('nit',20)

nit
20